.app {
    max-width: 750px;
    margin: 0 auto;
    padding: var(--space-medium);
    background-color: var(--secondary-color-light);
    min-height: 100vh;
}

.appTitle {
    font-size: var(--large-font-size);
    color: var(--primary-color);
    text-align: center;
    margin-bottom: var(--space-large);
    font-weight: bold;
}

.tabContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-medium);
}

.tabContainer .tabSection {
    display: flex;
    gap: var(--space-small);
}

.tabContainer .tabSection .tabButton {
    padding: var(--space-small) var(--space-large);
    background: var(--secondary-color-light);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.tabContainer .tabSection .tabButton:hover {
    background: #e2e8f0;
    transform: translateY(-1px);
}

.tabContainer .tabSection .tabButton.activeTab {
    background: var(--primary-color);
    color: var(--text-light);
    border: 1px solid var(--primary-color);
}

.tabContainer .tabSection .tabButton.activeTab:hover {
    background: var(--secondary-color);
}

@media (max-width: 768px) {
    .app {
        padding: var(--space-medium);
    }

    .appTitle {
        font-size: var(--large-font-size);
        margin-bottom: var(--space-medium);
    }

    .tabContainer {
        flex-direction: column;
        gap: var(--space-medium);
    }

    .tabSection {
        width: 100%;
        justify-content: center;
    }

    .tabButton {
        font-size: var(--small-font-size);
        padding: var(--space-small);
        flex: 1;
    }
}

@media (max-width: 480px) {
    .app {
        padding: var(--space-small);
    }

    .appTitle {
        display: none;
    }

    .tabButton {
        padding: var(--space-xsmall) var(--space-medium);
        font-size: var(--xsmall-font-size);
    }
}